/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.shopBannerContainer {
  width: 300px;
  height: 300px;
  margin-left: 16px;
  margin-right: 16px;
}

.shopBanner {
  border-radius: 20px;
  position: relative;
  vertical-align: center;
  width: 300px;
  height: auto;
  top: 0;
  transition: top ease-out 0.5s;
  margin: 10px 0 0 0;
}

.categoryBanner {
  text-decoration: none;
  align-items: center;
}

.justify-center {
  display: grid;
  justify-items: center;
  vertical-align: center;
}

.categoryBanner img {
  border-radius: 20px;
  position: relative;
  max-width: 400px;
  width: auto;
  height: 300px;
  top: 0;
  transition: top ease-in-out 0.5s;
  margin: 10px 0 0 0;
}

.categoryBanner p {
  text-align: center;
  position: relative;
  color: black;
  transition: color ease-in-out 0.5s;
  font-size: 24px;
}

.categoryBanner img:hover {
  top: -10px;
}

.categoryBanner img:hover ~ p {
  color: royalblue;
}

.categoryBanner p:hover {
  color: royalblue;
}

.fullItem{
  position: fixed;
  background: rgba(21, 60, 90, 0.518);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 10000;
}

.fullItem > div{
  width: 650px;
  position: relative;
  margin: 8% auto;
  padding: 25px 20px;
  background: #F5F5DC;
  border-radius: 15px;
}